<strong>Olá, {{ student }} </strong>
<p>Você tem uma notificação !!</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br/>
  <small>
    Seja muito bem vindo(a) !!
  </small>
</p>
